#============= netd ==============
allow netd self:packet_socket create;

#Rules needed for IPV6 Tethering
allow netd netd:capability { setgid setuid };
allow netd netd:packet_socket { bind setopt read ioctl };
allow netd kernel:system module_request;
allow netd self:capability sys_module;
